$guide-blue-0: #42b5d5;
$guide-blue-1: #2991d4;
$guide-blue-2: #2579c6;
$guide-blue-3: #2fb2e0;
$guide-blue-4: #3da8c6;
$guide-blue-5: #29afd4;
$guide-blue-6: #3297b3;
$guide-blue-7: #2374bd;

$guide-gray-0: #ececec;
$guide-gray-1: #58595b;
$guide-gray-2: #d0cfcf;
$guide-gray-3: #888a8f;

$guide-yellow-0: #ffec42;

$font-family-base: 'Atlas Grotesk Web', Helvetica, Arial, sans-serif;
$font-size-base: 18px;

$grid-gutter-width: 30px;
$container-tablet: 580px + $grid-gutter-width;
$container-desktop: 720px + $grid-gutter-width;
$container-large-desktop: 720px + $grid-gutter-width;

