.container.signup
  .row
    .col-xs-12.text-center
      %p
      %p Bluejudy info only, no spam.

      %form(action="//treefunder.us11.list-manage.com/subscribe/post?u=1d39d8916c7ffc80cfc2a0f23&amp;id=d1e1fa72f1" method="post" target="_blank" novalidate class="signup-form")
        %input(type="email" value="" name="EMAIL" placeholder="Email" required)
        %div(style="position: absolute; left: -5000px;")>
          %input(type="text" name="b_1d39d8916c7ffc80cfc2a0f23_d1e1fa72f1" tabindex="-1" value="")
        %input(type="submit" value="Submit" name="subscribe")
