!!! 5
%html
  %head
    %title Bluejudy
    %link{href: "assets/stylesheets/styles.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "assets/images/bluejudy-icon.jpg", rel: "shortcut icon",  type: "image/x-icon"}/
    %meta(name="og:image" content="assets/images/bluejudy@2x.png")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    /[if lt IE 9]
      %script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      %script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  %body
    .section.stage
      .container
        .row
          .col-xs-12.text-center
            %ul.top-nav
              %li
                %a{href: "#why-bluejudy", "data-scroll-to" => "#why-bluejudy"} Why Bluejudy?
              %li.separator.middot
              %li
                %a{href: "#get-started", "data-scroll-to" => "#get-started"} Get Started
              %li.separator.middot
              %li
                %a{href: "#dp-team", "data-scroll-to" => "#team"} Team
              %li.separator.middot
              %li
                %a{href: "#get-tech-stuff", "data-scroll-to" => "#tech"} What is XBJ?

        .row.visible-xs
          .col-xs-12.text-center
            %h2.menu-headline
              .circled-arrow>
              %span Menu

        .row
          .col-xs-12.text-center
            %img.img-bluejudy{alt: "Bluejudy", src: "assets/images/bluejudy@2x.png"}/
            %h2.headline Bluejudy is a layer on the Worldcoin network for new coins that foster creativity and promote social good.

            %a.wallet-link(href="https://wallet.bluejudy.io/") Go to Bluejudy Wallet

        .row
          .col-xs-8.col-xs-offset-2.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            %p.reminder-note.text-center
              %span Thanks to everyone who took part! 
              %span The original burn period is now over.
              %span ( It may reopen in line with demand )
              %span You burned over 14 Thousand Worldcoins!
              %br
              %span.nowrap
                %span You can check the
                %span final balance
                = succeed "." do
                  %a(href="https://coinplorer.com/WDC/Addresses/WXEnhance1XXXXXXXXXXXXXXXXX1ZFGV4U" target="_blank") here
              %br
              %span XBJ has never traded on
              = succeed "." do
                %a(href="https://poloniex.com/exchange/btc_xbj" target="_blank") Poloniex

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#why-bluejudy")
              .arrow

    #why-bluejudy.section.why-bluejudy
      .container
        .row
          .col-xs-12
            %h2.headline.text-center Why Bluejudy?
            %p.text-center
              Bitcoin-based Counterparty is a fantastic system for serious crypto-finance, but for smaller
              value transactions, when it comes to placing orders, creating assets, and generally taking care
              of business WDC brings some great advantages to the party.

      %ul.container.profits
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-stop-watch{alt: "10x Faster", src: "assets/images/stop-watch@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span 10x Faster
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Transactions confirmation times on Bluejudy are typically 10x faster than traditional Bitcoin
              transactions, at 1-10 minutes. This opens the door to whole new applications impossible with slower network speeds.

        %li.row
          .col-xs-12.text-center.visible-xs
            %img.img-piggy{alt: "100x Cheaper", src: "assets/images/piggy@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span 100x Cheaper
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Network fees on a meta-layer can be around $0.25, and make it costly to run applications on top of Bitcoin. WDC fees are about 100x cheaper, so micro-transactions can thrive on Bluejudy, ideal for socially-oriented projects and startups.
          .col-xs-4.text-center.hidden-xs
            %img.img-piggy{alt: "100x Cheaper", src: "assets/images/piggy@2x.png"}/

        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-hands{alt: "Friendly", src: "assets/images/hands@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Friendly
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              With Bluejudy you can take part in an community-driven global marketplace of good, where anything and
              everything is traded with no exchange fees. If this is a message that resonates with you, we’d love your support.

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#get-started")
              .arrow

    #get-started.section.getting-started
      .container
        .row
          .col-xs-12
            %img.img-hand{alt: "Get Started", src: "assets/images/hand@2x.png"}/

        .row.what-is-dp
          .col-xs-12
            %h2.headline.text-center What Can I Do with Bluejudy?
            %p.text-center
              A lot, actually. Making your own token on Bluejudy means you can have your own asset to distribute, while
              still supporting the Worldcoin network and community. Raise funds in WDC, and reward your supporters with
              a custom coin that can be tailored to your needs, without needing your own blockchain!

      %ul.container.about-dp
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-publish{alt: "Create", src: "assets/images/publish@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Create
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Want to publish a book or album without a publisher or have an amazing product ? Create your own token,
              put up a page explaining your goals and collect WDC donations from your supporters!  You get the funds,
              your backers get a token that can give them access or  a share of the project. When you're ready,
              reward your backers by trading your work for the coin you gave out.
        %li.row
          .col-xs-12.text-center.visible-xs
            %img.img-tickets{alt: "Plan events", src: "assets/images/tickets@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Plan events
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Planning an actual WDC Party, or even just a normal human event? Raise funds for the work and costs
              by selling an EVENT coin that can then be used at the event to pay for entry, drinks, and shibe snacks.
              You get the funds up front, and your guests get something tangible (and fungible) in return. This allows
              you to cover costs, and also give your backers a guaranteed unit of value beyond a name on the guestlist.
              In fact, the coin IS the guestlist!
          .col-sm-4.text-center.hidden-xs
            %img.img-tickets{alt: "Plan events", src: "assets/images/tickets@2x.png"}/
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-charity{alt: "Give back", src: "assets/images/charity@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Give back
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Raising funds for doing good?  Create a CharityCoin to give back to donors who support your cause.
              You can then make the token valuable by having businesses and supporters donate   and services which
              are auctioned for the CharityCoin at one-off or periodic events where only the CharityCoin is accepted.

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#team")
              .arrow

    #team.section.team.text-center
      .container
        .row
          .col-xs-12
            %h1.headline The Bluejudy Team
            .hr
              %h2.hr-title Treefunder


        %ul.row.treefunder
          %li.col-xs-6.col-sm-5.col-sm-offset-1.col-md-4.col-md-offset-2.one.even
            .member.text-center
              %img.team-member-img{alt: "Marlon Hanks", src: "assets/images/team/marlon-hanks.png"}
              %p Marlon Hanks
          %li.col-xs-6.col-sm-5.col-md-4.three.odd
            .member.text-center
              %img.team-member-img{alt: "Could Be You", src: "assets/images/team/questionmark.png"}
              %p Could Be You

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#tech")
              .arrow

    #tech.section.xbj
      .container
        .row
          .col-xs-12.text-center
            %img.img-barrel{alt: "What is XBJ?", src: "assets/images/barrel@2x.png"}/
            %h1.headline
              %span What is XBJ?
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -

        .row.about-xbj.showable
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.text-center
            %p
              XBJ is fuel for the Bluejudy rocket. Buy the fuel with your WDC during the burn period. With XBJ you can
              issue your own custom tokens for e-tickets, reward points, game currencies &amp; so on.

      %ul.container.xbj-workflow.showable
        %li.row
          .col-xs-12.col-md-4.text-center.hidden-md.hidden-lg
            %img.img-wdc-on-fire(alt="Proof of Burn" src="assets/images/wdc-on-fire@2x.png")/
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-8
            %h3
              %span How does
              %span.nowrap Proof of Burn work?
            %p
              The burn involves sending WDC to a provably unspendable address (it might look a bit like WXEnhance1XXXXXXXXXXXXXXXXX1ZFGV4U) effectively destroying the WDC.
            %p
              For every 1000 WDC you burn, you will receive 1 XBJ. To reward earlier burners, the first blocks will award a bonus of 50%, giving you
              back 1.5 XBJ for every 1000 WDC. This is a bonus that gets a little bit lower with each block that passes, by the end of the burn
              the rate will be exactly 1000:1. After burning your WDC, the issuance of your XBJ will happen automatically by the protocol.
            %p
              The burn begins on Tue, August 12th and will last for 30 days. There will only ever be one burning period, so get 'em while they're hot!
              If you're thinking about creating something on Bluejudy, you'll need to obtain some XBJ. It should be possible to get some later, but
              you'd need to buy it from someone selling on an exchange&mdash;likely at a higher price.
          .col-xs-12.col-md-4.text-center.hidden-xs.hidden-sm
            %img.img-wdc-on-fire(alt="Proof of Burn" src="assets/images/wdc-on-fire@2x.png")/

        %li.row.xbj-diy
          .col-xs-12.col-md-4.text-center
            %img.img-to-the-moon(alt="How do I get started?" src="assets/images/to-the-moon@2x.png")/
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-8
            %h3 How do I get started?
            %ul.steps.text-left
              %li
                .num 1
                %span You'll need to get yourself a Bluewallet, our custom version of Counterwallet. It will be available
                when the counter above reaches zero.
              %li
                .num 2
                %span Send WDC from your existing wallet to one of the addresses in Bluewallet.
              %li
                .num 3
                %span The wallet shows your sent balance in WDC. Click on the menu and choose the 'Burn' entry, select an amount and you are ready to go.
              %li
                .num 4
                %span Congratulations! You've got XBJ.


    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#footer")
              .arrow

    #footer.section.footer
      = Haml::Engine.new(File.read("_src/haml/_mail_chimp.haml")).render

      .container
        .row.social-icons
          .col-xs-12.text-center
            %a.social-icon.facebook-icon{href: "https://facebook.com/bluejudy", target: "_blank"}> Facebook
            %a.social-icon.twitter-icon{href: "https://twitter.com/BluejudyXBJ", target: "_blank"}> Twitter
            %a.social-icon.reddit-icon{href: "http://www.reddit.com/r/bluejudy/", target: "_blank"}> Reddit
            %a.social-icon.github-icon{href: "https://github.com/Bluejudy", target: "_blank"} Github

        .row.donations
          .col-xs-12.text-center
            %p
              %strong Support Bluejudy:
              %br
              %a{href: "https://btc.blockr.io/address/info/1ECM7BWEyDkSkJrnzNZifxPgc75Y5pufP9"} 1ECM7BWEyDkSkJrnzNZifxPgc75Y5pufP9

    #powered-by.section.powered-by
      .container
        .row
          .col-xs-12.text-center
            %p
              %strong Special Thanks To:
              %br
        .row
          .col-xs-6.text-right
            %a{href: "http://www.humint.is"}
              %img.img-humint{alt: "Humint", src: "assets/images/humint@2x.png", title: "Humint"}/
          .col-xs-6.text-left
            %a{href: "http://socialgiver.com/"}
              %img.img-socialgiver{alt: "SocialGiver", src: "assets/images/socialgiver@2x.png", title: "SocialGiver"}/
    #treefunder.section.treefunder
      .container
        .row
          .col-xs-12.text-center
            %a{href: "https://treefunder.co"}
              %img.img-treefunder{alt: "Treefunder", src: "assets/images/treefunder.png", title: "Treefunder", width: "240px"}/

    %script{src: "assets/javascripts/scripts.js", type: "text/javascript"}
    = File.read("_src/haml/_google_analytics.html")

