!!! 5
%html
  %head
    %title Dogeparty
    %link{href: "assets/stylesheets/styles.css", rel: "stylesheet", type: "text/css"}/
    %meta(name="og:image" content="assets/images/dogeparty@2x.png")
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    /[if lt IE 9]
      %script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
      %script(src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js")
  %body
    .section.stage
      .container
        .row
          .col-xs-12.text-center
            %ul.top-nav
              %li
                %a{href: "#why-dogeparty", "data-scroll-to" => "#why-dogeparty"} Why Dogeparty?
              %li.separator.middot
              %li
                %a{href: "#get-started", "data-scroll-to" => "#get-started"} Get Started
              %li.separator.middot
              %li
                %a{href: "#dp-team", "data-scroll-to" => "#team"} Team
              %li.separator.middot
              %li
                %a{href: "#get-tech-stuff", "data-scroll-to" => "#tech"} What is XDP?

        .row.visible-xs
          .col-xs-12.text-center
            %h2.menu-headline
              .circled-arrow>
              %span Menu

        .row
          .col-xs-12.text-center
            %img.img-dogeparty{alt: "Dogeparty", src: "assets/images/dogeparty@2x.png"}/
            %h2.headline Dogeparty is a layer on the Dogecoin network for new coins that foster creativity and promote social good.

            %a.wallet-link(href="https://wallet.dogeparty.io/") Go to Dogeparty Wallet

        .row
          .col-xs-8.col-xs-offset-2
            %p.reminder-note.text-center
              %span The Burn has begun! Get started by creating a
              = succeed "," do
                %a(href="https://wallet.dogeparty.io/") Dogeparty Wallet
              %span inject it with your precious Doge, and get to burning!

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#why-dogeparty")
              .arrow

    #why-dogeparty.section.why-dogeparty
      .container
        .row
          .col-xs-12
            %h2.headline.text-center Why Dogeparty?
            %p.text-center
              Bitcoin-based Counterparty is a fantastic system for serious crypto-finance, but for smaller
              value transactions, when it comes to placing orders, creating assets, and generally taking care
              of business DOGE brings some great advantages to the party.

      %ul.container.profits
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-stop-watch{alt: "10x Faster", src: "assets/images/stop-watch@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span 10x Faster
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Transactions confirmation times on Dogeparty are typically 10x faster than traditional Bitcoin
              transactions, at 1-10 minutes. This opens the door to whole new applications impossible with slower network speeds.

        %li.row
          .col-xs-12.text-center.visible-xs
            %img.img-piggy{alt: "100x Cheaper", src: "assets/images/piggy@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span 100x Cheaper
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Network fees on a meta-layer can be around $0.25, and make it costly to run applications on top of Bitcoin. DOGE fees are about 100x cheaper, so micro-transactions can thrive on Dogeparty, ideal for socially-oriented projects and startups.
          .col-xs-4.text-center.hidden-xs
            %img.img-piggy{alt: "100x Cheaper", src: "assets/images/piggy@2x.png"}/

        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-hands{alt: "Friendly", src: "assets/images/hands@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Friendly
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              With Dogeparty you can take part in an community-driven global marketplace of good, where anything and
              everything is traded with no exchange fees. If this is a message that resonates with you, we’d love your support.

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#get-started")
              .arrow

    #get-started.section.getting-started
      .container
        .row
          .col-xs-12
            %img.img-hand{alt: "Get Started", src: "assets/images/hand@2x.png"}/

        .row.what-is-dp
          .col-xs-12
            %h2.headline.text-center What Can I Do with Dogeparty?
            %p.text-center
              A lot, actually. Making your own token on Dogeparty means you can have your own asset to distribute, while
              still supporting the Dogecoin network and community. Raise funds in DOGE, and reward your supporters with
              a custom coin that can be tailored to your needs, without needing your own blockchain!

      %ul.container.about-dp
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-publish{alt: "Create", src: "assets/images/publish@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Create
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Want to publish a book or album without a publisher or have an amazing product ? Create your own token,
              put up a page explaining your goals and collect DOGE donations from your supporters!  You get the funds,
              your backers get a token that can give them access or  a share of the project. When you're ready,
              reward your backers by trading your work for the coin you gave out.
        %li.row
          .col-xs-12.text-center.visible-xs
            %img.img-tickets{alt: "Plan events", src: "assets/images/tickets@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Plan events
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Planning an actual DOGE Party, or even just a normal human event? Raise funds for the work and costs
              by selling an EVENT coin that can then be used at the event to pay for entry, drinks, and shibe snacks.
              You get the funds up front, and your guests get something tangible (and fungible) in return. This allows
              you to cover costs, and also give your backers a guaranteed unit of value beyond a name on the guestlist.
              In fact, the coin IS the guestlist!
          .col-sm-4.text-center.hidden-xs
            %img.img-tickets{alt: "Plan events", src: "assets/images/tickets@2x.png"}/
        %li.row
          .col-xs-12.col-sm-4.text-center
            %img.img-charity{alt: "Give back", src: "assets/images/charity@2x.png"}/
          .col-xs-12.col-sm-8
            %h3.showable-toggle
              %span Give back
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -
            %p.showable
              Raising funds for doing good?  Create a CharityCoin to give back to donors who support your cause.
              You can then make the token valuable by having businesses and supporters donate   and services which
              are auctioned for the CharityCoin at one-off or periodic events where only the CharityCoin is accepted.

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#team")
              .arrow

    #team.section.team.text-center
      .container
        .row
          .col-xs-12
            %h1.headline The Dogeparty Team
            .hr
              %h2.hr-title Humint

        %ul.row
          %li.col-xs-6.col-sm-4.one.even
            .member.text-center
              %img.team-member-img{alt: "Wendell Davis", src: "assets/images/team/wendell-davis.jpg"}
              %p Wendell Davis
          %li.col-xs-6.col-sm-4.two.odd
            .member.text-center
              %img.team-member-img{alt: "Matt Innes", src: "assets/images/team/matt-innes.jpg"}
              %p Matt Innes
          %li.col-xs-6.col-sm-4.three.even
            .member.text-center
              %img.team-member-img{alt: "Michael Keferl", src: "assets/images/team/michael-keferl.png"}
              %p Michael Keferl
          %li.col-xs-6.col-sm-4.one.odd
            .member.text-center
              %img.team-member-img{alt: "Lars Kluge", src: "assets/images/team/lars-kluge.jpg"}
              %p Lars Kluge
          %li.col-xs-6.col-sm-4.two.even
            .member.text-center
              %img.team-member-img{alt: "Adam B. Levine", src: "assets/images/team/adam-levine.jpg"}
              %p Adam B. Levine
          %li.col-xs-6.col-sm-4.three.odd
            .member.text-center
              %img.team-member-img{alt: "Saori Kajiwara", src: "assets/images/team/saori-kajiwara.jpg"}
              %p Saori Kajiwara

        .row
          .col-xs-12
            .hr
              %h2.hr-title SocialGiver

        %ul.row.socialgiver
          %li.col-xs-6.col-sm-5.col-sm-offset-1.col-md-4.col-md-offset-2.one.even
            .member.text-center
              %img.team-member-img{alt: "Tarin Greco", src: "assets/images/team/tarin-greco.jpg"}
              %p Tarin Greco
          %li.col-xs-6.col-sm-5.col-md-4.three.odd
            .member.text-center
              %img.team-member-img{alt: "Arch Wongchindawest", src: "assets/images/team/arch-wongchindawest.jpg"}
              %p Arch Wongchindawest

    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#tech")
              .arrow

    #tech.section.xdp
      .container
        .row
          .col-xs-12.text-center
            %img.img-barrel{alt: "What is XDP?", src: "assets/images/barrel@2x.png"}/
            %h1.headline
              %span What is XDP?
              .toggle-icon.visible-xs
                %strong.plus +
                %strong.minus -

        .row.about-xdp.showable
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.text-center
            %p
              XDP is fuel for the Dogeparty rocket. Buy the fuel with your DOGE during the burn period. With XDP you can
              issue your own custom tokens for e-tickets, reward points, game currencies &amp; so on.

      %ul.container.xdp-workflow.showable
        %li.row
          .col-xs-12.col-md-4.text-center.hidden-md.hidden-lg
            %img.img-doge-on-fire(alt="Proof of Burn" src="assets/images/doge-on-fire@2x.png")/
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-8
            %h3
              %span How does
              %span.nowrap Proof of Burn work?
            %p
              The burn involves sending DOGE to a provably unspendable address (it might look a bit like DOGEPARTYxxxxxxx) effectively destroying the DOGE.
            %p
              For every 1000 DOGE you burn, you will receive 1 XDP. To reward earlier burners, the first blocks will award a bonus of 50%, giving you
              back 1.5 XDP for every 1000 DOGE. This is a bonus that gets a little bit lower with each block that passes, by the end of the burn
              the rate will be exactly 1000:1. After burning your DOGE, the issuance of your XDP will happen automatically by the protocol.
            %p
              The burn begins on Tue, August 12th and will last for 30 days. There will only ever be one burning period, so get 'em while they're hot!
              If you're thinking about creating something on Dogeparty, you'll need to obtain some XDP. It should be possible to get some later, but
              you'd need to buy it from someone selling on an exchange&mdash;likely at a higher price.
          .col-xs-12.col-md-4.text-center.hidden-xs.hidden-sm
            %img.img-doge-on-fire(alt="Proof of Burn" src="assets/images/doge-on-fire@2x.png")/

        %li.row.xdp-diy
          .col-xs-12.col-md-4.text-center
            %img.img-to-the-moon(alt="How do I get started?" src="assets/images/to-the-moon@2x.png")/
          .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-8
            %h3 How do I get started?
            %ul.steps.text-left
              %li
                .num 1
                %span You'll need to get yourself a Dogewallet, our custom version of Counterwallet. It will be available
                when the counter above reaches zero.
              %li
                .num 2
                %span Send DOGE from your existing wallet to one of the addresses in Dogewallet.
              %li
                .num 3
                %span The wallet shows your sent balance in DOGE. Click on the menu and choose the 'Burn' entry, select an amount and you are ready to go.
              %li
                .num 4
                %span Congratulations! You've got XDP.


    .section.next
      .container
        .row
          .col-xs-12
            .button-next(data-scroll-to="#footer")
              .arrow

    #footer.section.footer
      = Haml::Engine.new(File.read("_src/haml/_mail_chimp.haml")).render

      .container
        .row.social-icons
          .col-xs-12.text-center
            %a.social-icon.skype-icon{href: "http://is.gd/YraMq9", target: "_blank"}> Twitter
            %a.social-icon.twitter-icon{href: "https://twitter.com/theDogeparty", target: "_blank"}> Twitter
            %a.social-icon.reddit-icon{href: "http://www.reddit.com/r/dogecoin/comments/2beiil/were_having_a_dogeparty/", target: "_blank"}> Reddit
            %a.social-icon.github-icon{href: "https://github.com/Dogeparty", target: "_blank"} Github

        .row.donations
          .col-xs-12.text-center
            %p
              %strong Much Support:
              %br
              %span DLtFm7fnuVFHRWcUTsikccLnTyduWntHdF

    #powered-by.section.powered-by
      .container
        .row
          .col-xs-6.text-right
            %a{href: "http://www.humint.is"}
              %img.img-humint{alt: "Humint", src: "assets/images/humint@2x.png", title: "Humint"}/
          .col-xs-6.text-left
            %a{href: "http://socialgiver.com/"}
              %img.img-socialgiver{alt: "SocialGiver", src: "assets/images/socialgiver@2x.png", title: "SocialGiver"}/

    %script{src: "assets/javascripts/scripts.js", type: "text/javascript"}
    = File.read("_src/haml/_google_analytics.html")

