@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/assets/fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('/assets/fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
       url('/assets/fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
       url('/assets/fonts/AtlasGrotesk-Medium-Web.svg#Atlas Grotesk Web') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/assets/fonts/AtlasGrotesk-Light-Web.eot');
  src: url('/assets/fonts/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/AtlasGrotesk-Light-Web.woff') format('woff'),
       url('/assets/fonts/AtlasGrotesk-Light-Web.ttf') format('truetype'),
       url('/assets/fonts/AtlasGrotesk-Light-Web.svg#Atlas Grotesk Web') format('svg');
  font-weight:  300;
  font-style:   normal;
  font-stretch: normal;
}

