.container.signup
  .row
    .col-xs-12.text-center
      %p
        %span For a reminder when we're going live,
        %span.nowrap please leave your email.
      %p Dogeparty info only, no spam.

      %form(action="//humint.us3.list-manage.com/subscribe/post?u=d074ef8b1e4775ac45d100cdc&amp;id=81e20ae3d9" method="post" target="_blank" novalidate class="signup-form")
        %input(type="email" value="" name="EMAIL" placeholder="Email" required)
        %div(style="position: absolute; left: -5000px;")>
          %input(type="text" name="b_d074ef8b1e4775ac45d100cdc_81e20ae3d9" tabindex="-1" value="")
        %input(type="submit" value="Submit" name="subscribe")
